.zzkx{
  position: relative;
  height: 35px;
  width: 100%;
  margin-top: -20px;
}
.zzkx .wzkx{
  display: inline-block;
  height: 35px;
  float: left;
  width: 100%;
}
.zzkx .wzkx .wzlb{
  width: 100%;
  height: 35px;
  background-image: url(./kx.png);
  background-size: 80px auto;
  background-repeat: no-repeat;
  background-position: 0% 50%;
}
.zzkx .wzkx strong{
  color: #f40;
  font-size: 16px;
  font-weight: 800;
  padding-right: 7px;
}
.zzkx .wzkx .wzlb{
  margin-bottom: 55px;
  width: 100%;
  background-image: url(./kx.png);
  background-size: 60px auto;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  line-height: 200px;
}
.zzkx .wzkx .wzlb a{
  font-size: 16px;
  color: #1f1f1f!important;
  font-family: 'Lato', sans-serif;
  font-weight: 400!important;
  line-height: 35px;
  margin-left: 70px;
}

.zzkx .wzkx .wzlb:first-child {
  animation: show 10s linear infinite;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.999% {margin-top:0px;}
  100% {margin-top:-270px;}
}

