.zzkx{
  position: relative;
  height: 35px;
  width: 100%;
}
.zzkx .pic{
  height: 100%;
  float: left;
  width: 78px;
  display: inline-block;
}
.zzkx img{
  height: 16px;
  margin-top: 2px;
  display: inline-block;
}
.zzkx .wzkx{
  display: inline-block;
  height: 35px;
  float: left;
  width: 295px;
}
.zzkx .wzkx strong{
  color: #f40;
  font-size: 16px;
  font-weight: 800;
  padding-right: 8px;
}
.zzkx .wzkx .wzlb{
  height: 35px;
  margin-bottom: 55px;
}
.zzkx .wzkx .wzlb a{
  font-size: 15px;
  color: #576b95!important;
  font-family: 'Lato', sans-serif;
  font-weight: 450!important;
  line-height: 1.4em;
  text-align: justify;
  letter-spacing: 2px;
  min-height: 1em;
}

.zzkx .wzkx .wzlb:first-child {
  animation: show 10s linear infinite;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.999% {margin-top:0px;}
  100% {margin-top:-270px;}
}
